body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerContainer {
    display: flex;
    justify-content: center;
    height: 10vh;

    font-size: 20pt;
}

.mapContainer {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapCircle {
    width: min(400px, 90vw);
    aspect-ratio: 1 / 1;

    border-radius: 50%;
    overflow: hidden;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.option {
    display: flex;
    align-items: center;
    gap: 6px;
}

.attemptsContainer {
    margin-top: 5vh;
    width: 220px;
    max-height: 30vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

form {
    margin-top: 5vh;
}

.autocomplete {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type="text"] {
    background-color: #f1f1f1;
    width: 100%;
}
button {
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#map {
    width: 100%;
    height: 100%;
}
